---
import Baselayout from '../layouts/Baselayout.astro';
import ItemCard from '../components/ItemCard.astro';
---

<Baselayout>
	<!-- Item Container -->
	<div class='flex flex-wrap justify-center'>
		<ItemCard title='Merch Item #1' />
		<ItemCard title='Merch Item #2' />
		<ItemCard title='Merch Item #3' />
	</div>
</Baselayout>
