---
import '../styles/global.css'
import ProfileCard from '../components/ProfileCard.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav class='bg-blue-900 text-white'> Nav Brr </nav>
		<ProfileCard />
		<main>
			<slot />
		</main>
		<footer class='bg-orange-500'> Feet bar </footer>
	</body>
</html>